acceptance : AllIn 
geometry : LHCb
energy : 13
pid : LHCbGenericPID

paramsDecaying : M, P, PT, ET, PX, PY, PZ, E, Mcorr, IP, SIGMAIP, FD, eta, vtxX, vtxY, vtxZ, origX, origY, origZ
paramsStable : P, PT, PX, PY, PZ, E, ProbNNpi, ProbNNp, ProbNNk, ProbNNmu, IP, SIGMAIP, FD, eta

param : M_Ximu M 1 4 
param : M_munu M 4 5 
param : M2_Ximu M2 1 4 
param : M2_munu M2 4 5 
param : P_Ximu P 1 4 
param : P_munu P 4 5 
param : PT_Ximu PT 1 4 
param : PT_munu PT 4 5 
param : Th_Ximu theta 1 4 
param : CosTh_Ximu costheta 1 4 

@0
	name : Xic0
@1
	name : Xim
@2
	name : pipXic
	smear : LHCbGeneric
@3
	name : pimXic
	smear : LHCbGeneric
@4
	name : mup
	smear : LHCbGeneric
@5
	name : nu
	smear : LHCbGeneric
	invisible : true
@6
	name : Lambda
@7
	name : pimXi
	smear : LHCbGeneric
@8
	name : pr
	smear : LHCbGeneric
@9
	name : pimLam
	smear : LHCbGeneric
