acceptance : AllIn 
geometry : LHCb
energy : 13
pid: LHCbGenericPID

paramsDecaying : M, P, PT, FD, ETA, PX, PY, PZ, E, Mcorr, IP, SIGMAIP, eta, vtxX, vtxY, vtxZ, origX, origY, origZ
paramsStable : P, PT, PX, PY, PZ, IP, E, ProbNNpi, ProbNNp, ProbNNk, ProbNNmu, SIGMAIP, FD, eta
paramsTwoBody : M, M2
paramsThreeBody : M, M2

param : M_Ximu M 1 2 
param : M_munu M 2 3 
param : M2_Ximu M2 1 2 
param : M2_munu M2 2 3 

@0
	name : Xic0
@1
	name : Xim
@2
	name : mup
	smear : LHCbGeneric
@3
	name : nu
	smear : LHCbGeneric
