acceptance : AllIn 
geometry : LHCb
energy : 13
pid : LHCbGenericPID

paramsDecaying : M, P, PT, ET, PX, PY, PZ, E, Mcorr, IP, SIGMAIP, FD, eta, vtxX, vtxY, vtxZ, origX, origY, origZ
paramsStable : P, PT, PX, PY, PZ, E, ProbNNpi, ProbNNp, ProbNNk, ProbNNmu, IP, SIGMAIP, FD, eta

param : M_Ximu M 1 3 
param : M_munu M 3 4 
param : M2_Ximu M2 1 3 
param : M2_munu M2 3 4 
param : P_Ximu P 1 3 
param : P_munu P 3 4 
param : PT_Ximu PT 1 3 
param : PT_munu PT 3 4 
param : Th_Ximu theta 1 3 
param : CosTh_Ximu costheta 1 3 

@0
	name : Xicp
@1
	name : Xim
@2
	name : pipXic
	smear : LHCbGeneric
@3
	name : mup
	smear : LHCbGeneric
@4
	name : nu
	smear : LHCbGeneric
	invisible : true
@5
	name : Lambda
@6
	name : pimXi
	smear : LHCbGeneric
@7
	name : pr
	smear : LHCbGeneric
@8
	name : pimLam
	smear : LHCbGeneric
